<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" style="max-width: 70% !important">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: aliceblue" routerLink="/">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"><a routerLink="/recipes" class="nav-link">Recipes</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="/shopping-list" class="nav-link">Shopping List</a> </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item mr-4"><a routerLink="/signup" style="color: aliceblue">Register</a></li>
        <li class="dropdown nav-item" >
          <a class="dropdown-toggle " role="button" (click)="onDropdown()" style="color: aliceblue">Manage</a>
          <div class="dropdown-menu show" *ngIf="isShown">
            <a class="dropdown-item" style="cursor: pointer" (click)="onSaveData()">Save Data</a>
            <a class="dropdown-item" style="cursor: pointer" (click)="onFetchData()">Fetch Data</a>
          </div>
        </li>

      </ul>
    </div>
  </div>

</nav>
